@model List<Product>
@using ASP.NET_Product_Managment.Models.Conceretes

<div class="container">
    <ul>
        <h1>All Product List:</h1>
        @foreach(var product in Model) {
            <li>Id:@product.Id</li>
            <li>Name:@product.Name</li>
            <li>Price:@product.Price</li>

            <br />
        }
    </ul>
</div>